header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  /* background-image: url("../assets/img/header-bg.jpg"); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

section#contact {
  background-color: #212529;
  /* background-image: url("../assets/img/map-image.png"); */
  background-repeat: no-repeat;
  background-position: center;
}